# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY="APIqee7XL4B779K"
LIVEKIT_API_SECRET="gYTJYvoaHjsUe9eWsW05zpS5OepCfn2QCHvS1z7RTz3C"
LIVEKIT_URL="wss://sujalsmurfai-fb8ku78z.livekit.cloud"


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
